# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Dataset files (optional)
*.csv

# Keep only trained models if needed
# Uncomment next line if model is downloaded separately
# models/

# Docker
Dockerfile
.dockerignore